html,
body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}
core-header-panel {
  height : 100%;
}
.core-header {
  padding-left : 3%;
}
#gdriveButton {
  width : 100%;
  color: white;
  background-color: #00796b;
}
#gdriveButton::shadow #ripple {
  color: blue;
}
#dboxButton {
  width : 100%;
  color: white;
  background-color: #007ee5;
}
#dboxButton::shadow #ripple {
  color : white;
}
#localButton {
  width: 100%;
  color : white;
  background-color : purple;
}
#printer {
  color: white;
  background-color: orange;
}
#toast {
  bottom: 0;
  left: 0;
  width: 100%;
}
.core-header {
  color : white;
  min-height : 7%;
  background-color : teal;
}
.content {
  padding : 5%;
}
#card {
  padding-left : 2%;
  background-color : #ddd;
}
.tip {
  padding-top : 2%;
}
#gd, #db, #local {
  padding : 3%;
}
paper-spinner {
  display : none;
  padding-top : 3%;
}
#cardContent {
  overflow : hidden;
}
file-input {
  width:100%;
}
